<header>
  <div class="fLayer">
    <a class="last" href="/main"><i class="fa-solid fa-house"></i></a>
    <h2>SKILL</h2>
    <div class="ticket">250{{ticket}} <i class="fa-solid fa-ticket"></i></div>
    <div class="money">{{money}}5000
      <i class="fa-solid fa-dollar-sign"></i></div>
  </div>
</header>
{{> confirmUpdate}}
<main>
  <div class="atk">
        <div class="outside">攻擊 
        <a class="update" href="/skill/atkskills/0"><i class="fa-solid fa-plus"></i></a>
         <div class="length" style=" background-image: linear-gradient(
    90deg,
    white calc({{atk}} * 10%),
    transparent calc({{atk}} * 10%),
    transparent 100%
  );">
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div>
         </div>
        </div>
        <div class="outside">流血
           <a class="update" href="/skill/atkskills/1"><i class="fa-solid fa-plus"></i></a>
         <div class="length" style=" background-image: linear-gradient(
    90deg,
    white calc({{bleed}} * 10%),
    transparent calc({{bleed}} * 10%),
    transparent 100%
  );">
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div>
         </div>
        </div>
        <div class="outside">燃燒
             <a class="update" href="/skill/atkskills/2"><i class="fa-solid fa-plus"></i></a>
      
         <div class="length" style=" background-image: linear-gradient(
    90deg,
    white calc({{consist}} * 10%),
    transparent calc({{consist}} * 10%),
    transparent 100%
  );">
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div>
         </div>
        </div>
        <div class="outside">穿透
              <a class="update" href="/skill/atkskills/3"><i class="fa-solid fa-plus"></i></a>
       
         <div class="length" style=" background-image: linear-gradient(
    90deg,
    white calc({{penetrate}} * 10%),
    transparent calc({{penetrate}} * 10%),
    transparent 100%
  );">
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div>
         </div>
        </div>
        <div class="outside">暈眩
                <a class="update" href="/skill/atkskills/4"><i class="fa-solid fa-plus"></i></a>
       
         <div class="length" style=" background-image: linear-gradient(
    90deg,
    white calc({{freeze}} * 10%),
    transparent calc({{freeze}} * 10%),
    transparent 100%
  );">
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div>
         </div>
        </div>
        <div class="outside">爆擊
             <a class="update" href="/skill/atkskills/5"><i class="fa-solid fa-plus"></i></a>
       
         <div class="length" style=" background-image: linear-gradient(
    90deg,
    white calc({{bigdmg}} * 10%),
    transparent calc({{bigdmg}} * 10%),
    transparent 100%
  );">
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div>
         </div>
        </div>
        <div class="outside">爆擊傷害
            <a class="update" href="/skill/atkskills/6"><i class="fa-solid fa-plus"></i></a>
         <div class="length" style=" background-image: linear-gradient(
    90deg,
    white calc({{bigdmgdmg}} * 10%),
    transparent calc({{bigdmgdmg}} * 10%),
    transparent 100%
  );">
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div>
         </div>
        </div>
        <div class="outside">吸血
            <a class="update" href="/skill/atkskills/7"><i class="fa-solid fa-plus"></i></a>
       
         <div class="length" style=" background-image: linear-gradient(
    90deg,
    white calc({{add}} * 10%),
    transparent calc({{add}} * 10%),
    transparent 100%
  );">
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div>
         </div>
        </div>
  </div>
  {{!-- //////////////////////////////////////// --}}
  <div class="def">
    <div class="outside">增殖
        <a class="update" href="/skill/atkskills/8"><i class="fa-solid fa-plus"></i></a>
       
         <div class="length" style=" background-image: linear-gradient(
    90deg,
    white calc({{hp}} * 10%),
    transparent calc({{hp}} * 10%),
    transparent 100%
  );">
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div>
         </div>
        </div>
        <div class="outside">防禦
           <a class="update" href="/skill/atkskills/9"><i class="fa-solid fa-plus"></i></a>
       
         <div class="length" style=" background-image: linear-gradient(
    90deg,
    white calc({{def}} * 10%),
    transparent calc({{def}} * 10%),
    transparent 100%
  );">
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div>
         </div>
        </div>
        <div class="outside">抗性
             <a class="update" href="/skill/atkskills/10"><i class="fa-solid fa-plus"></i></a>
       
         <div class="length" style=" background-image: linear-gradient(
    90deg,
    white calc({{resist}} * 10%),
    transparent calc({{resist}} * 10%),
    transparent 100%
  );">
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div>
         </div>
        </div>
        <div class="outside">護盾
              <a class="update" href="/skill/atkskills/11"><i class="fa-solid fa-plus"></i></a>
       
         <div class="length" style=" background-image: linear-gradient(
    90deg,
    white calc({{shield}} * 10%),
    transparent calc({{shield}} * 10%),
    transparent 100%
  );">
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div>
         </div>
        </div>
        <div class="outside">招募
                <a class="update" href="/skill/atkskills/12"><i class="fa-solid fa-plus"></i></a>
      
         <div class="length" style=" background-image: linear-gradient(
    90deg,
    white calc({{recovery}} * 10%),
    transparent calc({{recovery}} * 10%),
    transparent 100%
  );">
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div>
         </div>
        </div>
        <div class="outside">閃避
             <a class="update" href="/skill/atkskills/13"><i class="fa-solid fa-plus"></i></a>
       
         <div class="length" style=" background-image: linear-gradient(
    90deg,
    white calc({{dodge}} * 10%),
    transparent calc({{dodge}} * 10%),
    transparent 100%
  );">
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div>
         </div>
        </div>
        <div class="outside">反擊
           <a class="update" href="/skill/atkskills/14"><i class="fa-solid fa-plus"></i></a>
       
         <div class="length" style=" background-image: linear-gradient(
    90deg,
    white calc({{rebound}} * 10%),
    transparent calc({{rebound}} * 10%),
    transparent 100%
  );">
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div>
         </div>
        </div>
        <div class="outside">傷害減免
            <a class="update" href="/skill/atkskills/15"><i class="fa-solid fa-plus"></i></a>
       
         <div class="length" style=" background-image: linear-gradient(
    90deg,
    white calc({{dmgresist}} * 10%),
    transparent calc({{dmgresist}} * 10%),
    transparent 100%
  );">
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div><div class="black"></div>
          <div class="bright"></div>
         </div>
        </div>
  </div>
</main>